Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci, docs

Update README.md
  data/cogs/dem/README.md
Labels: data, docs

Update README.md
  data/cogs/hillshade/README.md
Labels: data, docs

Update README.md
  data/cogs/overlays/README.md
Labels: data, docs

Update README.md
  data/cogs/README.md
Labels: data, docs

Update README.md
  data/derivatives/README.md
Labels: data, docs

Update README.md
  data/derivatives/README.md
Labels: data, docs

Create README.md
  data/derivatives/terrain/README.md
Labels: data, docs

Create README.md
  data/derivatives/hydrology/README.md
Labels: data, docs

Create README.md
  data/derivatives/contours/README.md
Labels: data, docs

Create README.md
  data/derivatives/change/README.md
Labels: data, docs

Create README.md
  data/derivatives/vectors/README.md
Labels: data, docs

Create README.md
  data/derivatives/tiles/README.md
Labels: data, docs

Update README.md
  data/derivatives/change/README.md
Labels: data, docs

Update README.md
  data/derivatives/change/README.md
Labels: data, docs

Update README.md
  data/derivatives/contours/README.md
Labels: data, docs

Update README.md
  data/derivatives/hydrology/README.md
Labels: data, docs

Update README.md
  data/derivatives/terrain/README.md
Labels: data, docs

Update README.md
  data/derivatives/tiles/README.md
Labels: data, docs

Update README.md
  data/derivatives/vectors/README.md
Labels: data, docs

Update README.md
  data/earth/README.md
Labels: data, docs

Update README.md
  data/earth/README.md
Labels: data, docs

Update README.md
  data/earth/README.md
Labels: data, docs

Update README.md
  data/earth/sources/README.md
Labels: data, docs

Update README.md
  data/earth/networklinks/README.md
Labels: data, docs

Update README.md
  data/gcp/README.md
Labels: data, docs

Update README.md
  data/processed/README.md
Labels: data, docs

Update README.md
  data/processed/dem/README.md
Labels: data, docs

Update README.md
  data/processed/dem/overlays/README.md
Labels: data, docs

Update README.md
  data/processed/dem/vectors/README.md
Labels: data, docs

Update README.md
  data/processed/hydrology/README.md
Labels: data, docs

Update README.md
  data/processed/hydrology/floodplains/README.md
Labels: data, docs

Update README.md
  data/processed/hydrology/kansas_river/README.md
Labels: data, docs

Update README.md
  data/processed/vectors/README.md
Labels: data, docs

Update README.md
  data/provenance/README.md
Labels: data, docs

Create README.md
  data/provenance/audits/README.md
Labels: data, docs

Update README.md
  data/provenance/audits/README.md
Labels: data, docs

Rename README.html to README.md
  web/assets/README.md
Labels: web, docs

Update README.md
  web/assets/README.md
Labels: web, docs

Create README.md
  web/assets/icons/README.md
Labels: web, docs
