Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

Update README.md
  data/work/staging/README.md
Labels: data, docs

Rename README.ms to README.md
  data/work/scratch/README.md
Labels: data, docs

Update README.md
  data/work/scratch/README.md
Labels: data, docs

Update README with additional checklist items
  data/work/scratch/README.md
Labels: data, docs

Revise README with updates and enhancements
  data/work/scratch/README.md
Labels: data, docs

Revise README for OCR workspace with updates
  data/work/ocr/README.md
Labels: data, docs

Enhance README for joins workspace with updates
  data/work/joins/README.md
Labels: data, docs

Create joins.sop.md
  docs/templates/joins.sop.md
Labels: docs

Revise Joins SOP for clarity and structure
  docs/templates/joins.sop.md
Labels: docs

Update badge links in joins SOP document
  docs/templates/joins.sop.md
Labels: docs

Revise glossary structure and content
  docs/glossary.md
Labels: docs

Revise documentation for Kansas Geo Timeline
  docs/index.md
Labels: docs

Refactor README.md for clarity and consistency
  README.md
Labels: docs

Improve formatting and clarity in README.md
  README.md
Labels: docs

Enhance README with badges and layout improvements
  .github/README.md
Labels: ci, docs

Update SECURITY.md
  .github/SECURITY.md
Labels: ci, docs

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: ci, docs

Refine README.md for GitHub workflows
  .github/workflows/README.md
Labels: ci, docs

Enhance README with more CI/CD badges and workflows
  .github/workflows/README.md
Labels: ci, docs

Update README.md
  .github/roadmap/README.md
Labels: ci, docs

Revise README.md for issue templates and badges
  .github/ISSUE_TEMPLATE/README.md
Labels: ci, docs

Update README.md with new badge links
  .github/ISSUE_TEMPLATE/README.md
Labels: ci, docs

Enhance bug report template with new sections
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ci, docs

Enhance bug report template with badges and formatting
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ci, docs

Enhance data addition request template
  .github/ISSUE_TEMPLATE/data_addition.md
Labels: ci, docs

Enhance data source request template structure
  .github/ISSUE_TEMPLATE/data_source_request.md
Labels: ci, docs

Update experiment_report.md
  .github/ISSUE_TEMPLATE/experiment_report.md
Labels: ci, docs

Add README template for MCP experiments
  mcp/experiments/template/README.md
Labels: docs

Enhance README with commands and validation details
  mcp/experiments/template/README.md
Labels: docs

Add experiment parameters to params.yaml
  mcp/experiments/template/params.yaml
Labels: none

Add artifacts.jsonl to track experiment outputs
  mcp/experiments/template/artifacts.jsonl
Labels: none

Add metrics.json for experiment results
  mcp/experiments/template/results/metrics.json
Labels: none

Add initial stac_report.json for experiment results
  mcp/experiments/template/results/stac_report.json
Labels: none

Add env.txt with Python version and pip freeze notes
  mcp/experiments/template/env/env.txt
Labels: none

Create git_sha.txt for commit ID tracking
  mcp/experiments/provenance/git_sha.txt
Labels: none

Create git_sha.txt
  mcp/experiments/template/provenance/git_sha.txt
Labels: none

Create artifact_hashes.txt for SHA-256 hashes
  mcp/experiments/template/provenance/artifact_hashes.txt
Labels: none

Configure LFS for large binary file types
  mcp/experiments/template/.gitattributes
Labels: none

Revise MCP experiment template README
  mcp/experiments/template/README.md
Labels: docs

Create README.md for MCP experiments directory
  mcp/experiments/README.md
Labels: docs

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'
