Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

Enhance README for web icons with detailed guidelines
  web/assets/icons/README.md
Labels: web, docs

Refactor README.md for icons section
  web/assets/icons/README.md
Labels: web, docs

Create README.md
  web/assets/ui/README.md
Labels: web, docs

Update README.md
  web/assets/ui/README.md
Labels: web, docs

Create README.md
  web/assets/screenshots/README.md
Labels: web, docs

Update README.md
  web/assets/screenshots/README.md
Labels: web, docs

Revise README for web/components with badges and updates
  web/components/README.md
Labels: web, docs

Revise README for Kansas-Frontier-Matrix configuration
  web/config/README.md
Labels: web, docs

Revise README for CSS Layering documentation
  web/css/README.md
Labels: web, docs

Revise README.md for improved clarity and structure
  web/data/README.md
Labels: web, docs

Revise README.md for improved clarity and structure
  web/docs/README.md
Labels: web, docs

Revise architecture documentation for clarity
  web/docs/ARCHITECTURE.md
Labels: web, docs

Update ARCHITECTURE.md
  web/docs/ARCHITECTURE.md
Labels: web, docs

Fix formatting in ARCHITECTURE.md
  web/docs/ARCHITECTURE.md
Labels: web, docs

Update CONTRIBUTING.md
  web/docs/CONTRIBUTING.md
Labels: web, docs

Update DEVELOPER_GUIDE.md
  web/docs/DEVELOPER_GUIDE.md
Labels: web, docs

Update STYLE_GUIDE.md
  web/docs/STYLE_GUIDE.md
Labels: web, docs

Enhance category documentation in categories.md
  web/docs/categories.md
Labels: web, docs

Clarify diagram description in categories.md
  web/docs/categories.md
Labels: web, docs

Revise layer documentation with detailed schema and examples
  web/docs/layers.md
Labels: web, docs

Revise web config schema documentation
  web/docs/schema.md
Labels: web, docs

Update sources.md
  web/docs/sources.md
Labels: web, docs

Update ui.md
  web/docs/ui.md
Labels: web, docs

Revise README for clarity and documentation standards
  web/docs/README.md
Labels: web, docs

Update README.md
  web/docs/README.md
Labels: web, docs

Refactor README.md for improved clarity and layout
  README.md
Labels: docs

Enhance README with live demos and roadmap details
  README.md
Labels: docs

Update README.md
  .github/README.md
Labels: ci, docs

Revise README for clarity and feature updates
  README.md
Labels: docs

Revise license information and clean up README
  README.md
Labels: docs

Update ROADMAP.md
  ROADMAP.md
Labels: docs

Update ROADMAP.md
  ROADMAP.md
Labels: docs

Update SECURITY.md
  .github/SECURITY.md
Labels: ci, docs

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: ci, docs

Revise README for clarity and compliance
  data/README.md
Labels: data, docs

Update README.md to add badge links
  data/README.md
Labels: data, docs

Revise README for Kansas-Frontier-Matrix project
  data/work/README.md
Labels: data, docs

Revise README.md for clarity and badge updates
  data/work/tmp/README.md
Labels: data, docs

Revise README.md for Kansas-Frontier-Matrix
  data/work/tmp/README.md
Labels: data, docs

Revise README for staging workspace with updates
  data/work/staging/README.md
Labels: data, docs

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'
