Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

Update automerge.yml
  .github/workflows/automerge.yml
Labels: ci

Fix pre-commit hook IDs and improve STAC validation
  .github/workflows/.pre-commit-config.yaml
Labels: ci

Update pre-commit configuration for validation scripts
  .github/workflows/.pre-commit-config.yaml
Labels: ci

Update package.json
  package.json
Labels: none

Update mkdocs.yml configuration and add extensions
  mkdocs.yml
Labels: none

Enhance Project Directory Overview with SEO and accessibility
  Project Dir Overview.html
Labels: none

Update pre-commit configuration with new hooks
  .pre-commit-config.yaml
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update .gitattributes for clarity and formatting
  .gitattributes
Labels: none

Update .editorconfig
  .editorconfig
Labels: none

Refactor comments and organization in .dockerignore
  .dockerignore
Labels: none

Add GPU worker service configuration
  docker-compose.yml
Labels: none

Modify Makefile to enhance help and remove hydrology tasks
  Makefile
Labels: none

Add base CSS styles and design tokens
  web/styles/base.css
Labels: web

Create map.css
  web/styles/map.css
Labels: web

Add light theme styles in theme-light.css
  web/styles/theme-light.css
Labels: web

Create theme-dark.css
  web/styles/theme-dark.css
Labels: web

Create README.md
  web/styles/icons/README.md
Labels: web, docs

Enhance README with styling and accessibility details
  web/styles/README.md
Labels: web, docs

Update wildfire perimeter data source and properties
  web/data/wildfire_perimeters.json
Labels: web

Refactor wildfire_perimeters.json structure
  web/data/wildfire_perimeters.json
Labels: web

Update USGS topo JSON with attribution URL
  web/data/usgs_topo.json
Labels: web

Clean up usgs_topo.json formatting
  web/data/usgs_topo.json
Labels: web

Update treaty polygons metadata and features
  web/data/treaties_polygons.json
Labels: web

Update treaties.json
  web/data/treaties.json
Labels: web

Update trails_lines.json
  web/data/trails_lines.json
Labels: web

Update trails.json with new data paths and attributes
  web/data/trails.json
Labels: web

Refine coordinates and date formats in towns_points.json
  web/data/towns_points.json
Labels: web

Update towns.json structure and properties
  web/data/towns.json
Labels: web

Update tornado_tracks_ks.json with metadata and fixes
  web/data/tornado_tracks_ks.json
Labels: web

Modify tornado_tracks.json structure and properties
  web/data/tornado_tracks.json
Labels: web

Update timeline schema, version, and annotations
  web/data/timeline.json
Labels: web

Update style tokens schema and version
  web/data/style_tokens.json
Labels: web

Update storm_events_ks.json with metadata and properties
  web/data/storm_events_ks.json
Labels: web

Update storm_events.json structure and fields
  web/data/storm_events.json
Labels: web

Update schema and version in stories.json
  web/data/stories.json
Labels: web

Update soil_surveys.json
  web/data/soil_surveys.json
Labels: web

Add bbox and metadata to railroads_lines.json
  web/data/railroads_lines.json
Labels: web

Format JSON for better readability
  web/data/railroads_lines.json
Labels: web

Update railroad data structure and attributes
  web/data/railroads.json
Labels: web

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'
