Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'

Update README.md
  data/sources/dem/README.md
Labels: data, docs

Update README.md
  data/sources/dem/README.md
Labels: data, docs

Update README.md
  data/sources/dem/README.md
Labels: data, docs

Update README.md
  data/sources/dem/README.md
Labels: data, docs

Update README.md
  data/sources/dem/tile_indexes/README.md
Labels: data, docs

Update README.md
  data/tiles/README.md
Labels: data, docs

Create README.md
  data/tiles/layer/README.md
Labels: data, docs

Update README.md
  data/tiles/layer/README.md
Labels: data, docs

Update README.md
  data/tiles/layer/README.md
Labels: data, docs

Update README.md
  data/tmp/README.md
Labels: data, docs

Update README.md
  data/work/README.md
Labels: data, docs

Create README.ms
  data/work/scratch/README.ms
Labels: data

Update README.ms
  data/work/scratch/README.ms
Labels: data

Update README.md
  data/work/scratch/README.ms
Labels: data

Update README.ms
  data/work/scratch/README.ms
Labels: data

Update README.md
  data/work/scratch/README.ms
Labels: data

Update README.md
  data/work/scratch/README.ms
Labels: data

Create README.md
  data/work/ocr/README.md
Labels: data, docs

Create README.md
  data/work/staging/README.md
Labels: data, docs

Create README.md
  data/work/joins/README.md
Labels: data, docs

Create README.md
  data/work/tmp/README.md
Labels: data, docs

Update README.md
  data/work/joins/README.md
Labels: data, docs

Update README.md
  data/work/ocr/README.md
Labels: data, docs

Update README.md
  data/work/staging/README.md
Labels: data, docs

Update README.md
  data/work/tmp/README.md
Labels: data, docs

Update README.md
  data/cogs/README.md
Labels: data, docs

Update README.md
  .github/README.md
Labels: ci, docs

Update README.md
  .github/ISSUE_TEMPLATE/README.md
Labels: ci, docs

Update README.md
  .github/roadmap/README.md
Labels: ci, docs

Update README.md
  .github/workflows/README.md
Labels: ci, docs

Update README.md
  .github/workflows/README.md
Labels: ci, docs

Update README.md
  .github/workflows/README.md
Labels: ci, docs

Update SECURITY.md
  .github/SECURITY.md
Labels: ci, docs

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: ci, docs

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: ci, docs

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci, docs

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: ci, docs

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: ci, docs

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: ci, docs

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: ci, docs
