Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'

Enhance plss_sections.json with metadata and bbox
  web/data/plss_sections.json
Labels: web

Add metadata and additional oral history entries
  web/data/oral_histories_points.json
Labels: web

Refactor oral_histories.json structure and fields
  web/data/oral_histories.json
Labels: web

Update legend.json schema and version details
  web/data/legend.json
Labels: web

Enhance landcover_timeslices.json with metadata
  web/data/landcover_timeslices.json
Labels: web

Modify landcover.json structure and properties
  web/data/landcover.json
Labels: web

Revise Kansas counties GeoJSON metadata and properties
  web/data/kansas_counties.geojson
Labels: web

Update hydrology.json with new attributes and filters
  web/data/hydrology.json
Labels: web

Enhance historic_parcels.json structure and fields
  web/data/historic_parcels.json
Labels: web

Revise FEMA disaster declarations data structure
  web/data/fema_disasters_ks.json
Labels: web

Update FEMA disasters JSON with new fields and values
  web/data/fema_disasters.json
Labels: web

Update elevation.json with new fields and descriptions
  web/data/elevation.json
Labels: web

Modify drought_weekly.json with updated data
  web/data/drought_weekly.json
Labels: web

Update drought.json with new fields and metadata
  web/data/drought.json
Labels: web

Update documents_points.json
  web/data/documents_points.json
Labels: web

Update documents.json
  web/data/documents.json
Labels: web

Update demo_events.json
  web/data/demo_events.json
Labels: web

Update demo_entities.json
  web/data/demo_entities.json
Labels: web

Update counties_timeslices.json with new metadata
  web/data/counties_timeslices.json
Labels: web

Update counties.json with additional fields
  web/data/counties.json
Labels: web

Enhance climate normals JSON with additional metadata
  web/data/climate_normals_ks.json
Labels: web

Update climate normals JSON for Kansas stations
  web/data/climate_normals.json
Labels: web

Update basemap.json
  web/data/basemap.json
Labels: web

Fix bounds values in basemap.json
  web/data/basemap.json
Labels: web

Update README.md
  web/data/README.md
Labels: web, docs

Enhance README with more details on web/data
  web/data/README.md
Labels: web, docs

Update README.md
  web/data/README.md
Labels: web, docs

Update README.md
  web/data/README.md
Labels: web, docs

Update compose.yml
  docker/compose.yml
Labels: none

Enhance docker build-and-run script with options
  docker/build-and-run.sh
Labels: none

Refactor Dockerfile for enhanced functionality and clarity
  docker/Dockerfile
Labels: none

Update README.md
  docker/README.md
Labels: docs

Revise README content for clarity
  docker/README.md
Labels: docs

Update README with Docker usage instructions
  docker/README.md
Labels: docs

Clean up README.md by removing introductory content
  docker/README.md
Labels: docs

Create README.md
  data/earth/sources/README.md
Labels: data, docs

Create README.md
  data/earth/networklinks/README.md
Labels: data, docs

Create README.md
  data/gcp/README.md
Labels: data, docs

Update README.md
  data/gcp/README.md
Labels: data, docs

Update README.md
  data/kml/README.md
Labels: data, docs
