Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

Update README.md
  data/processed/README.md
Labels: data, docs

Update README.md
  data/processed/dem/README.md
Labels: data, docs

Update README.md
  data/processed/dem/overlays/README.md
Labels: data, docs

Update README.md
  data/processed/dem/vectors/README.md
Labels: data, docs

Update README.md
  data/provenance/README.md
Labels: data, docs

Update README.md
  data/raw/README.md
Labels: data, docs

Update README.md
  data/stac/README.md
Labels: data, docs

Update README.md
  data/stac/collections/README.md
Labels: data, docs

Update README.md
  data/stac/items/README.md
Labels: data, docs

Update README.md
  data/tiles/README.md
Labels: data, docs

Update README.md
  data/tmp/README.md
Labels: data, docs

Update README.md
  data/work/README.md
Labels: data, docs

Update README.md
  data/README.md
Labels: data, docs

Update README.md
  docker/README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Revise README for clarity and additional information
  README.md
Labels: docs

Update flowchart in README for better readability
  README.md
Labels: docs

Update flowchart formatting in README.md
  README.md
Labels: docs

Fix flowchart syntax in How It Works section
  README.md
Labels: docs

Simplify flowchart labels in README.md
  README.md
Labels: docs

Revise flowchart in README for better visualization
  README.md
Labels: docs

Refactor flowchart in README for clarity
  README.md
Labels: docs

Refactor class definitions in README.md
  README.md
Labels: docs

Update README to remove obsolete information
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Refactor class definitions and export labels in README
  README.md
Labels: docs

Simplify flowchart and remove class definitions
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Revise README for clarity and project status
  README.md
Labels: docs

Revise README for clarity and visual appeal
  README.md
Labels: docs

Add script to generate coverage badges in JSON format
  .github/workflows/update_badges.py
Labels: ci

Refactor STAC badges workflow for deployment and permissions
  .github/workflows/stac-badges.yml
Labels: ci

Update pre-commit configuration for clarity and efficiency
  .pre-commit-config.yaml
Labels: none

Update README.md
  web/README.md
Labels: web, docs

Update README.md
  web/README.md
Labels: web, docs

Revise README for configuration details and structure
  web/config/README.md
Labels: web, docs

Refactor README.md for clarity and consistency
  web/styles/README.md
Labels: web, docs

Revise README.md for improved documentation structure
  web/docs/README.md
Labels: web, docs

Fix formatting in README.md
  web/docs/README.md
Labels: web, docs

Update README with configuration and documentation details
  web/docs/README.md
Labels: web, docs

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'
