Repository bartytime4life/Kansas-Frontier-Matrix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, stac, data, ci, docs

Revise README for clarity and updates
  .github/README.md
Labels: ci, docs

Update README.md
  web/README.md
Labels: web, docs

Format coverage status section as a table
  web/README.md
Labels: web, docs

Remove features section from README
  web/README.md
Labels: web, docs

Update README.md
  README.md
Labels: docs

Revise README for marker-ready coverage tables
  README.md
Labels: docs

Remove empty line at the beginning of README.md
  README.md
Labels: docs

Add status badges for data sources in README
  README.md
Labels: docs

Update README.md for formatting and content clarity
  README.md
Labels: docs

Update coverage status format in README
  README.md
Labels: docs

Update data sources and status in README
  README.md
Labels: docs

Revise README for clarity and structure
  data/README.md
Labels: data, docs

Revise directory layout with emoji annotations
  data/README.md
Labels: data, docs

Update README.md
  data/README.md
Labels: data, docs

Update README.md
  data/README.md
Labels: data, docs

Update README with directory layout for raw data
  data/README.md
Labels: data, docs

Update README.md
  data/README.md
Labels: data, docs

Update flowchart formatting in README.md
  data/README.md
Labels: data, docs

Revise README for consistency and clarity
  data/README.md
Labels: data, docs

Fix formatting and clarify STAC Item requirements
  data/README.md
Labels: data, docs

Update README.md
  data/README.md
Labels: data, docs

Fix formatting of provenance and checksums bullet point
  data/README.md
Labels: data, docs

Update README.md
  data/README.md
Labels: data, docs

Update README.md
  data/README.md
Labels: data, docs

Update README.md
  data/stac/README.md
Labels: data, docs

Update README.md
  data/stac/README.md
Labels: data, docs

Update README.md
  data/stac/items/README.md
Labels: data, docs

Update README.md
  data/stac/collections/README.md
Labels: data, docs

Update README.md
  data/raw/README.md
Labels: data, docs

Update README.md
  data/sources/README.md
Labels: data, docs

Update README.md
  data/sources/climate/README.md
Labels: data, docs

Update README.md
  data/sources/dem/README.md
Labels: data, docs

Update README.md
  data/sources/dem/tile_indexes/README.md
Labels: data, docs

Update README.md
  data/sources/hazards/README.md
Labels: data, docs

Update README.md
  data/sources/hazards/README.md
Labels: data, docs

Update README.md
  data/sources/hazards/README.md
Labels: data, docs

Update README.md
  data/sources/hydro/README.md
Labels: data, docs

Update README.md
  data/sources/land/README.md
Labels: data, docs

Update README.md
  data/sources/topo/README.md
Labels: data, docs

Revise README for clarity and structure
  docker/README.md
Labels: docs

.github/labeler.yml:

web:
  - 'web/**'
stac:
  - 'stac/**'
data:
  - 'data/**'
ci:
  - '.github/**'
docs:
  - '**/*.md'
